node_modules

# Next.js
.next
out
.vercel

# Build output
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency artifacts
.pnp
.pnp.js
.pnp.cjs

# Env files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Coverage
coverage

# Cache
.cache
.turbo
.swc

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Misc
*.pem
